/* @font-face { font-family: shoes; src: url('https://github.com/M-watermelon/LifeExtension/blob/797b6fad378aaf330f0e903bef93ce2862f47339/tackyshoes.otf'); }  */

@font-face {
    font-family: 'tackyshoesDEMO';
    font-style: normal;
    font-weight: normal;
    src: local('tackyshoesDEMO'), url('https://github.com/M-watermelon/LifeExtension/blob/797b6fad378aaf330f0e903bef93ce2862f47339/tackyshoesDEMO.woff') format('woff');
}
html {
    color:#d0d1d9;
    background-color: #191a21;
    font-size: 500%;
    
}
p{
    font-family: tackyshoesDEMO ;
}