/* @font-face { font-family: shoes; src: url('tackyshoes.otf'); }  

@font-face {
    font-family: 'tackyshoesDEMO';
    font-style: normal;
    font-weight: normal;
    src: local('tackyshoesDEMO'), url('tackyshoesDEMO.otf') format('otf');
}
*/
@font-face { font-family: shoes; src: url('tackyshoes.otf'); }  
html {
    color:#d0d1d9;
    background-color: #191a21;
    font-size: 500%;
    
}
p{
    font-family: shoes ;
}